.reveal section img {
    border: 0;
    box-shadow: none;
    background: none;
}

.reveal table th, .reveal table td{
    border-bottom: none;
    vertical-align: middle;
}

.img {
    width: 300px;
    display: inline-block;
    border: blue thick solid;
}

.one{
    transform: rotate(-15deg);
}

.two{
    transform: rotate(10deg);
}

.three{
    transform: rotate(-5deg);
}