.reveal section img {
    border: 0;
    box-shadow: none;
    background: none;
}

.reveal table th, .reveal table td{
    border-bottom: none;
    vertical-align: middle;
}

.img {
    width: 200px;
    display: inline-block;
}